*, ::before, ::after {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

::selection {
    background-color: rgba(255,255,255, 0.5);
}

body {
    margin: 0;
    padding: 0;
    background: url("../poster.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.title_page {
    margin: auto;
    color: white;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 0 0.8rem;
}

.title_page > .title {
    margin: auto;
    font-family: 'Gugi', cursive;
    text-align: center;
    font-size: 3rem;
    /* -webkit-text-stroke: 0.15rem black; */
}

.title_page > input, select {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
}

.title_page option {
    max-width: 90vw;
}

.title_page > #start {
    text-transform: uppercase;
    width: auto;
    margin: auto;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    border: none;
    background: rgb(19, 114, 0);
    color: white;
    border-radius: 0.3rem;
    border: 0.3rem solid white;

    background: #441b5f;

    opacity: 0.85;
}

.quiz {
    text-align: center;
}

.quiz > p {
    margin: 0;
}

.questionNo {
    color: rgb(110, 110, 110);
}

.questionContent {
    font-family: 'Gugi', cursive;
    font-size: 3rem;
}

#answersList {
    margin: 1rem;
    padding: 0;
}

.answer {
    list-style: none;
    margin-top: 1rem;
    font-size: 2rem;
    padding: 1rem 0;
    background: rgb(4, 143, 39);
    border-radius: 0.3rem;
}

#ans0 {
    background: red;
}

#ans1 {
    background: rgb(173, 156, 0);
}

#ans2 {
    background: rgb(0, 49, 139);
}

#ans3 {
    background: rgb(120, 0, 136);
}