*, ::before, ::after {
    box-sizing: border-box;
}

::selection {
    background-color: rgba(255,255,255, 0.5);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.title_page {
    margin: auto;
    display: grid;
    color: white;
}

.title_page > .title {
    margin: auto;
    text-align: center;
    font-size: 2rem;
    -webkit-text-stroke: 0.15rem black;
}

.title_page > #start {
    text-transform: uppercase;
    width: auto;
    margin: auto;
    text-align: center;
    padding: 1rem;
    border: none;
    background: rgb(17, 94, 211);
}
#videobg{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translate(-50%, -50%);
	opacity: 0.5;
}